@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap");

//Reds
$red0: #B22630;
$red: #ef3340;
$red2: #fc4e55;
$red3: #fc606b;
$red4: #ffd7da;
$red5: #fee7e9;
$red6: #ffe6c2;
$red7: #ff0000;

//Grays
$gray: #494f66;
$gray2: #676f8f;
$gray3: #a3abcc;
$gray4: #c5cbe0;
$gray5: #e4e8f7;
$gray6: #f0f2fa;
$gray7: #f7f8fc;
$gray8: #edeff5;
$gray9: #a9b1d1;
$gray10: #d4d5e8;
$gray11: #f7f7fa;

//Acian
$acian: #939dff;
$acian2: #6f7dff;

//Green
$green0: #42662f;
$green: #83cc5e;
$green1: #19801D;
$green2: #cfedc0;
$green2_1: #d8f7c8;
$green3: #e9f7e2;
$green4: #92d66f;

//Orange
$orange0: #8C5C1C;
$orange: #ffa733;
$orange2: #ffdca9;
$orange2_1: #ffE6c2;
$orange3: #ffefd8;
$orange4: #ffaf3a;

//Blank
$blank: #fff;

//White

$white: #ffffff;
$white2: #fafafc;
$white3: #f7f7fa;

//Lilac
$lilac: #D795FF;
$lilac2: #FBF3FF;

//Fonts
$lato: "Lato", Arial, sans-serif;
$roboto: "Roboto", sans-serif;

//Color Modal
$overlay: rgba(73, 80, 102, 0.8);

// Mobile Breakpoints
$mobile-screen: 280px;
$small-screen: 425px;
$medium-screen: 1023px;

// Color slider
$slider: #a9b1d1;
